@model IEnumerable<Test.Web.Models.AddressBook>
@{
    ViewBag.Title = "Главная страница";
//    ViewBag.ContainerFluid = true;
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ИД</th>
        <th>Подразделение</th>
        <th>Ф.И.О.</th>
        <th>Телефон</th>
        <th>Эл. почта</th>
        <th>Должность</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var ab in Model)
        {
            <tr>
                <td>@ab.Id</td>
                <td>@ab.Unit</td>
                <td>@ab.Fio</td>
                <td>@ab.Phone</td>
                <td>@ab.Email</td>
                <td>@ab.Post</td>
            </tr>
        }
    </tbody>
</table>

<div class="hidden">
</div>